---
layout: page
scripts:
  - '/assets/js/index.js'
  - '/assets/js/flexsearch.min.js'
  - '/assets/js/search.js'
title: Search
---
<noscript>
  <p>This page requires Javascript for our site search to work. Since you have Javascript disabled, here is an <strong>external</strong> search via DuckDuckGo to tide you over.</p>
  <iframe src="https://duckduckgo.com/search.html?width=400&duck=yes&site=deciphermedia.tv&prefill=Search DecipherMedia.tv w/ DuckDuckGo&focus=yes" style="overflow:hidden;margin:0;padding:0;width:533px;height:60px;" frameborder="0"></iframe>
</noscript>

<div class="col-12">
  <form action="?" method="get">
    <span>
      <input type="text" name="query" class="form-control" placeholder="Enter your search" id="body-searchbox">
    </span>
  </form>
</div>

<section class="pt-5">
  <div class="container">
    <ul id="search-results">
    </ul>
  </div>
</section>
<p></p>
