<a href="{% include share_url_email url=episode.url title=episode.title %}" class="mr-4"><i class="far fa-envelope"></i> Share</a>
<a href="{%- include share_url_facebook url=episode.url title=episode.title -%}" class="mr-4"><i class="fab fa-facebook"></i> Share</a>
<a href="{% include share_url_twitter url=episode.url title=episode.title %}" class="mr-4"><i class="fab fa-twitter"></i> Share</a>
<a href="{% include share_url_reddit url=episode.url title=episode.title %}" class="mr-4"><i class="fab fa-reddit-alien"></i> Share</a>
