<div class="container">
  {% assign page_links_len = page.links | size %}
  {% assign page_media_links_len = page.media.links | size %}
  {% if page_links_len > 0 or page_media_links_len > 0 %}
    <h4>Links!</h4>
    <ul class="list-style arrow-list arrow-list-four pl-0">
      <li>
        {% if page.media.links %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          {{ page.media.title }}:
          {% for link in page.media.links %}
            <a href="{{ link.url }}" target="_blank">{{ link.text }}</a> {% if forloop.last != true %}|{% endif %}
          {% endfor %}
        {% endif %}
      </li>
      {% for link in page.links %}
        <li>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          {% if link.urls %}
            {{ link.text }}: 
            {% for sublink in link.urls %}
              <a href="{{ sublink.url }}" target="_blank">{{ sublink.text }}</a> {% if forloop.last != true %}|{% endif %}
            {% endfor %}
          {% else %}
            <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
