<div class="my-3 mx-auto d-block">
  <figure class="figure">
    {%- unless link_original == false -%}
      <a href="/{{ path }}" target="_blank">
    {%- endunless -%}
      <img style="max-width: 60%" class="{{ class }} mx-auto d-block img-fluid rounded" src="
      {%- if resized[0] -%}
        /{{ resized[0].path }}
      {%- else -%}
        /{{ path }}
      {%- endif -%}
      " 
      {% if resized.size > 0 -%}
         srcset="
        {%- for resized_image in resized -%}
        /{{ resized_image.path }} {{ resized_image.width }}w
        {%- unless forloop.last -%}, {% endunless %}
        {%- endfor -%}
        "
        sizes="{%- comment -%}{%- endcomment -%}
        (min-width: {{ site.responsive_image.sizes[2].width | times: 1.5 }}px)  {{ site.responsive_image.sizes[2].width }}px,{%- comment -%}{%- endcomment -%}
        (min-width: {{ site.responsive_image.sizes[1].width | times: 1.5 }}px)  {{ site.responsive_image.sizes[1].width }}px,{%- comment -%}{%- endcomment -%}
        (min-width: {{ site.responsive_image.sizes[0].width | times: 1.5 }}px)  {{ site.responsive_image.sizes[0].width }}px{%- comment -%}{%- endcomment -%}
        "
      {%- endif %}
      alt="{{ alt | xml_escape }}"/>
    {%- unless link_original == false -%}
      </a>
    {%- endunless -%}
    {%- if caption or attr_text -%}
      <figcaption class="figure-caption text-center">
        {{ caption }}
        {% if attr_text %}
          {% if attr_url %}
            <a href="{{ attr_url }}">
          {% endif %}
          <i class="fas fa-camera"></i>{{ attr_text }}
          {% if attr_url %}
            </a>
          {% endif %}
        {% endif %}
      </figcaption>
    {%- endif -%}
  </figure>
</div>
