  <style>
    .podcast-subscribe-button {
      border: none;
      border-radius: 12px;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
    }
    a.podcast-subscribe-button:hover {
      color: white;
      text-shadow: 1px 1px 1px;
    }
    .subscribe-button-itunes {
      background-color: #732bbe;
    }
    .subscribe-button-android {
      background-color: #6ab344;
    }
    .subscribe-button-google {
      background-color: #db3236;
    }
    .subscribe-button-rss {
      background-color: #f80;
    }
  </style>
  <div class="container justify-content-center mt-1 mb-3">
    <div class="row justify-content-center">
      <h3>Subscribe</h3>
    </div>
    <div class="row justify-content-center">
      <span class="text-white text-center">
        {%- if site.podcast[page.subsite].destinations.itunes.destination_link.url -%}
        <a href="{{ site.podcast[page.subsite].destinations.itunes.destination_link.url }}" class="button podcast-subscribe-button subscribe-button-itunes ml-2"><i class="fas fa-podcast"></i> on Apple Podcasts</a>
        {%- endif -%}
        {%- if site.podcast[page.subsite].destinations.google.destination_link.url -%}
        <a href="{{ site.podcast[page.subsite].destinations.google.destination_link.url }}" class="button podcast-subscribe-button subscribe-button-google ml-2"><i class="fab fa-android"></i> on Google Podcasts</a>
        {%- endif -%}
        <a href="{{ site.podcast[page.subsite].destinations.rss.destination_link.url }}" class="button podcast-subscribe-button subscribe-button-rss ml-2"><i class="fas fa-rss"></i> by RSS</a>
      </span>
    </div>
  </div>
