<!-- <link rel = "stylesheet" type = "text/css" href = "/css/styles.css" /> -->
<figure>
  <div class="image-credit-wrapper">
    <picture>
      {%- for img in resized -%}
        <source media="(max-width: {{ img.width }}px)" srcset="/{{ img.path }}">
      {%- endfor -%}
      <img src="/{{ path }}" alt="{{ alt }}">
    </picture>
    <span class="image-credit">
      {%- if source -%}
        {%- if source.url or source.name -%}
          {%- if source.url -%}
          <a href="{{ source.url  }}" target="_blank">
          {%- endif -%}
          {{ source.name }}
          {%- if source.url -%}
          </a>
          {%- endif -%}
        {%- else -%}
        <p>{{ source }}</p>
        {%- endif -%}
      {%- endif -%}
    </span>
  </div>
  {%- if caption -%}
    <figcaption>{{ caption }}</figcaption>
  {%- endif -%}
</figure>
