/* Header main image */
.bg-img {
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
background-color: {{ include.background }};
}
/* Navbar */
.main-header-area {
background-color: {{ include.background }};
opacity: 1.0;
}
/* Top navbar links hover */
.classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
color: {{ include.highlight }};
}
/* Top navbar links underline */
.classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
background-color: {{ include.highlight }};
}
/* Top navbar social buttons text hover */
.top-social-area a:focus, .top-social-area a:hover {
color: {{ include.highlight }};
}
/* Top navbar social buttons text */
.top-social-area a {
color: {{ include.text }};
}
/* Top navbar dropdown */
.breakpoint-off .classynav ul li .dropdown {
background-color: {{ include.submenu }};
}
/* Top navbar */
.header-area .main-header-area.sticky {
background-color: {{ include.background }};
}
/* Navbars dropdown indicators */
.classynav ul li.has-down > a::after, .classynav ul li.megamenu-item > a::after {
color: {{ include.text }};
}
/* Side navbar background */
.breakpoint-on .classynav > ul > li > a {
background-color: {{ include.submenu }};
}
/* Side navbar dropdown background */
.breakpoint-on .classy-navbar .classy-menu {
background-color: {{ include.submenu }};
}
/* Top navbar search button */
.top-search-area form button {
color: {{ include.text }};
}
/* Top navbar search text */
.top-search-area form input.form-control {
color: {{ include.text }};
}
/* Side navbar text color */
.classy-nav-container .classy-navbar .classynav ul li a {
color: {{ include.text }};
}
/* Side navbar dropdown indicator "on" state */
.breakpoint-on .classynav ul li.has-down.active > a::after, .breakpoint-on .classynav ul li.megamenu-item.active > a::after {
color: {{ include.highlight }};
}
/* Podcast player date */
.music-published-date {
color: {{ include.highlight }};
}
/* Podcast player button */
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause, .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover {
background-color: {{ include.highlight }};
}
/* Podcast player button playing */
.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
color: {{ include.highlight }};
}
/* Podcast player volume */
.audioplayer .audioplayer-volume-adjust div div {
background-color: {{ include.highlight }};
}
/* Podcast player */
.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
background-color: {{ include.highlight }};
}

/* For disabling anchor buttons */
a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}
/* For page n of y in pagination */
.pager {
font-size: 18px;
color: #232323;
font-weight: 500;
}
/* Tiny note link */
.note-link p a {
font-size 12px;
color: #232323;
font-weight: 300;
}
.note-link a:focus a:hover {
color: {{ include.highlight }};
}
/* For small linky text */
.minor-link {
color: #a6a6a6;
font-size: 11px;
}
.minor-link a:focus a:hover {
color: {{ include.highlight }};
}
/* person-info */

.person-info {
display: inline-block;
font-size: 14px;
color: #666666;
margin-right: 5px;
text-transform: uppercase;
}
.person-info a:focus, .person-info a:hover {
color: {{ include.highlight }};
}
.post-content a {
color: {{ include.highlight }}
}
/* block quotes */
/* via https://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/ */
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 75%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
blockquote cite:before {
content: "\2014 \2009";
}
