              {%- for social_link in site.social_links -%}
            <a href="{{ social_link['url'] }}" class="{{ social_link['title'] | downcase }}" data-toggle="tooltip" data-placement="top" title="{{ social_link['title'] }}"><i class="{{ social_link['fa_class'] }}"></i></a>
              {% endfor -%}
