  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        {% include theme_footer_widget_about.html %}

        {% comment %}
          <!-- If not a subsite, don't shoe show-specific subscribe buttons -->
        {% endcomment %}
        {% if page.subsite %}
          {% include theme_footer_widget_subscribe.html %}
        {% else %}
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget"></div>
          </div>
        {% endif %}

        {% include footer_widget_open_source.html %}

        {% include theme_footer_widget_social.html %}
      </div>
      <div class="row text-center">
        <div class="copywrite-content d-block mb-40">
          <p>
            <i class="far fa-copyright"></i> Copyright {{ site.copyright }} <script>document.write(new Date().getFullYear());</script>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->
