<!-- Single Widget Area -->
<div class="single-widget-area adds-widget mb-80">
  <h5>{{ page.banner.message }}</h5>
  {% if page.banner.image %}
    <a href="{{ page.banner.url }}">
      <img src="/{{ page.banner.image.path }}" alt="{{ page.banner.image.alt }}" class="w-75">
    </a>
  {% endif %}
</div>
