{% assign subsite = site.subsites | where: 'subsite', page.subsite | first %}
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pt-1 pb-0">
            {% if page.subsite %}
              <li class="breadcrumb-item"><a href="/">{{ site.title }}</a></li>
              <li class="breadcrumb-item"><a href="/shows">Shows</a></li>
              {%- capture compurl -%}
                /{{ page.subsite }}/
              {%- endcapture -%}
              <li class="breadcrumb-item active" aria-current="page">
                {% unless page.url == compurl -%}
                  <a href="/{{ page.subsite }}">
                {%- endunless -%}
                {{ subsite.subsite_pretty }}
                {% unless page.url == compurl -%}
                  </a>
                {%- endunless -%}
              </li>
            {% endif %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
