      {% comment %}
        episode: expects a whole post here and all its metadata
      {% endcomment %}
      {% assign episode = include.episode %}
            <!-- Single gallery Item -->
            <div class="col-12 col-md-6 single_gallery_item {% for category in episode.categories %}{{ category | downcase | replace: " ", "-" }} {% endfor %} wow fadeInUp" data-wow-delay="0ms">
              <!-- Welcome Music Area -->
              <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
                <div class="poca-music-thumbnail">
                  {% if episode.image %}
                    <a href="{{ site.url }}{{ episode.url }}">
                      {% imagebydata image: episode.image template: _includes/thumbnail.html %}
                    </a>
                  {% endif %}
                </div>
                <div class="poca-music-content text-center">
                  <h4><a href="{{ site.url }}{{ episode.url }}">{{ episode.title }}</a></h4>
                  <span class="music-published-date mb-2">
                    {%- if episode.episode.season %}Season #{{ episode.episode.season }} | {% endif %}
                    {%- if episode.episode.number %}Episode #{{ episode.episode.number }} | {% endif %}
                    {{ episode.date | date: '%Y.%m.%d' }}
                  </span>
                  <div class="music-meta-data">
                    <p>
                      <a href="{{ site.url }}/{{ episode.subsite }}" class="music-author">{{ episode.subsite | upcase }}</a>
                      {% if episode.episode.media.audio %}
                        {% assign media_duration = episode.episode.media.audio['audio/mpeg'].duration %}
                        | <span class="music-catagory">Podcast</span> | <span class="music-duration">{{ media_duration }}</span>
                      {% endif %}
                    </p>
                  </div>
                  <!-- Music Player -->
                  <div class="poca-music-player">
                    <audio preload="none" controls="controls">
                      {% assign media_url = episode.episode.media.audio['audio/mpeg'].url %}
                      <source src="{{ media_url }}">
                      <a href="{{ media_url }}">{{ media_url }}</a>
                    </audio>
                  </div>
                </div>
              </div>
            </div>
