        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Lastest Episodes</h4>


            {% assign subsite_episodes = site.categories[page.subsite] | where: 'categories', 'episode' | reverse %}
            {% for episode in subsite_episodes limit: 2 %}
            <!-- Single Latest Episodes -->
            <div class="single-latest-episodes">
              <p class="episodes-date">{{ episode.date | date: '%Y.%m.%d' }}</p>
              <a href="{{ site.url }}{{ episode.url }}" class="episodes-title">{{ episode.title }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
