    {% assign categories = include.categories %}
    <div class="container">
      <div class="poca-projects-menu mb-30 mt-30 wow fadeInUp" data-wow-delay="0ms">
        <div class="text-center portfolio-menu">
          <button class="btn active" data-filter="*">All</button>
          {% for category in categories %}
            {% if category != "episode" and category != page.subsite %}
              <button class="btn" data-filter=".{{ category | downcase | replace: " ", "-" }}">{{ category | capitalize }}</button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
