{% assign paginator = include.paginator %}
<div class="container mt-30 mb-1">
  <div class="row">
    <div class="col-12 text-center justify-content-center">
      <span>
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="btn poca-btn">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}" class="disabled btn poca-btn">Previous</a>
      {% endif %}
      </span>
      <span>
        <p class="pager d-inline">Page {{ paginator.page }} of {{ paginator.total_pages }} </p>
      </span>
      <span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="btn poca-btn">next</a>
        {% else %}
          <a href="{{ paginator.next_page_path }}" class="disabled btn poca-btn">next</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
