  <!-- ***** Newsletter Area Start ***** -->
  <section class="poca-newsletter-area bg-img bg-overlay pt-50 jarallax" style="background-image: url({{ include.image_path }});">
    <div class="container">
      <div class="row align-items-center">
        <!-- Newsletter Content -->
        <div class="col-12 col-lg-6">
          <div class="newsletter-content mb-50">
            <h2>Give us your email...</h2>
            <h6>And maybe we'll send you something one day!</h6>
          </div>
        </div>
        <!-- Newsletter Form -->
        <div class="col-12 col-lg-6">
          <div class="newsletter-form mb-50">
            <form action="{{ site.newsletter.action_url }}" method="post">
              <div class="row">
                <span>
                  <input type="text" name="{{ site.newsletter.field_names.first_name }}" class="form-control" placeholder="First Name">
                <input type="text" name="{{ site.newsletter.field_names.last_name }}" class="form-control" placeholder="Last Name">
                </span>
                <span>
                  <input type="email" name="{{ site.newsletter.field_names.email }}" class="form-control" placeholder="Your Email" required>
                </span>
              </div>
              {% if site.newsletter.hidden_field %}
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ site.newsletter.hidden_field_name }}" tabindex="-1" value=""></div>
              {% endif %}
              <button type="submit" class="btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Newsletter Area End ***** -->
