---
layout: main
---
  <!-- ***** Latest posts Area Start ***** -->
  <section class="poca-latest-epiosodes">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Latest Blog Posts</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***** Featured Post Area Start ***** -->
    {% assign subsite_posts = site.categories[page.subsite] | where: 'categories', 'blog' | reverse  %}
    {%- for post in subsite_posts limit: 1 -%}
      {% include theme_post_preview_featured.html post=post featured=true %}
    {%- endfor -%}
    <!-- ***** Featured Post Area End ***** -->

    <!-- post listing -->
    <div class="container mt-5">
      <div class="row poca-portfolio">
        {%- assign posts_shown = 1 -%}
        {% assign thumnail_posts = subsite_posts | slice: 0, site.pagination.per_page %}
        {% for post in thumnail_posts limit: site.pagination.per_page %}
          {%- if forloop.first == false -%}
            {% include theme_post_preview_thumbnail.html episode=post %}
            {%- assign posts_shown = posts_shown | plus : 1 -%}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>

    <div class="container">
      {% if posts_shown < subsite_posts.size -%}
        <div class="row">
          <div class="col-12 text-center">
            <a href="{{ site.url }}/{{ page.subsite }}/posts/page2" class="btn poca-btn mt-70">More posts</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center minor-link mt-2">
              <a href="/{{ page.subsite }}/posts_all/">list all posts in one page</a>
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>
  <p></p>
  <!-- ***** Latest posts Area End ***** -->
