---
layout: main
---
<!-- ***** Subscribe Area Start ***** -->
{% include podcast_subscribe.html %}
<!-- ***** Subscribe Area End ***** -->

<!-- ***** Featured Post Area Start ***** -->
{% include theme_post_preview_featured.html post=page no_link=true featured=true %}
<!-- ***** Featured Post Area End ***** -->
  <!-- ***** Blog Details Area Start ***** -->
  <section class="blog-details-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="podcast-details-content d-flex mt-5 mb-80">

            <!-- Post Share -->
            {% include theme_social_share_buttons.html %}
            <!-- Post Details Text -->
            <div class="post-details-text">
              <div class="post-content">
                <!-- <span class="post-date"> -->
                <!-- </span> -->
                <span class="text-center">
                  <h2>Show Notes</h2>
                </span>
                <!-- <div class="post-meta"> -->
                <!--   <a href="#" class="post-author">{{ page.subsite }}</a> | -->
                <!--   <a href="#" class="post-catagory">Podcast</a> -->
                <!-- </div> -->
              </div>

              <div class="post-content">
                {{ content }}
              <!-- Post recommended links -->
              {% include episode_links.html %}
              </div>

              <div class=container>
                <h4>People</h4>
                <p>
                  {% include theme_episode_people.html %}
                </p>
              </div>

              <!-- Post Tags -->
              {% include theme_post_tags.html %}

              <!-- Pagination -->
              {% include theme_post_pagination.html %}

            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="sidebar-area mt-5">
            {% include theme_sidebar_widget_banner.html %}

            {% include theme_sidebar_widget_network_recent_posts_exclusive.html %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Details Area End ***** -->

<p></p>
<!-- ***** Latest Episodes Area End ***** -->
